@model GameModels.TechTree

<h5>Seed: @Model.Seed</h5>

<techtree>
    @foreach (var b in Model.Buildings)
    {
        <building symbol="@b.Symbol" row="@b.DisplayRow" column="@b.DisplayColumn" requires="@(b.Prerequisite == null ? null : b.Prerequisite.Symbol)">
            <info>
                @Html.Partial("Tree/_StatsPartial", b)

                @if (b.UpgradesFrom != null)
                {
                    <upgradesfrom>@b.UpgradesFrom.Name</upgradesfrom>
                }
                @if (@b.Prerequisite != null)
                {
                    <requires>@b.Prerequisite.Name</requires>
                }
                @foreach (var f in b.Features)
                {
                    @Html.Partial("Tree/_FeaturePartial", f);
                }
            </info>

            <unlocks>
                @foreach (GameModels.Definitions.UnitType u in b.Unlocks.Where(x => x is GameModels.Definitions.UnitType))
                {
                    <unit symbol="@u.Symbol">
                        <info>
                            @Html.Partial("Tree/_StatsPartial", u)

                            <builtat>@u.BuiltBy.Name</builtat>
                            @if (@u.Prerequisite != u.BuiltBy)
                            {
                                <requires>@u.Prerequisite.Name</requires>
                            }
                            @foreach (GameModels.Definitions.Feature f in u.Features)
                            {
                                @Html.Partial("Tree/_FeaturePartial", f);
                            }
                        </info>
                    </unit>
                }
            </unlocks>
        </building>
    }
</techtree>