@model GameModels.TechTree

@{
    ViewBag.Title = "View Tech Tree";
}

@Styles.Render("~/Content/Tree.css")

@section scripts {
    @Scripts.Render("~/Scripts/Tree.js")
}

<h2>A randomly generated tech tree</h2>

<h5>Seed: @Model.Seed</h5>

<techtree>
    @foreach (var b in Model.Buildings)
    {
        <building symbol="@b.Symbol" row="@b.DisplayRow" column="@b.DisplayColumn" requires="@(b.Prerequisite == null ? null : b.Prerequisite.Symbol)">
            <info>
                @Html.Partial("_StatsPartial", b)

                @if (b.UpgradesFrom != null)
                {
                    <upgradesFrom>@b.UpgradesFrom.Name</upgradesFrom>
                }
                @if (@b.Prerequisite != null)
                {
                    <requires>@b.Prerequisite.Name</requires>
                }
                @foreach (var f in b.Features)
                {
                    @Html.Partial("_FeaturePartial", f);
                }
            </info>

            <unlocks>
                @foreach (GameModels.Definitions.UnitType u in b.Unlocks.Where(x => x is GameModels.Definitions.UnitType))
                {
                    <unit symbol="@u.Symbol">
                        <info>
                            @Html.Partial("_StatsPartial", u)

                            <builtat>@u.BuiltBy.Name</builtat>
                            @if (@u.Prerequisite != u.BuiltBy)
                            {
                                <requires>@u.Prerequisite.Name</requires>
                            }
                            @foreach (GameModels.Definitions.Feature f in u.Features)
                            {
                                @Html.Partial("_FeaturePartial", f);
                            }
                        </info>
                    </unit>
                }
            </unlocks>
        </building>
    }
</techtree>